[Unit]
Description=Fan Speed Control Service
Before=sysinit.target
After=local-fs.target
DefaultDependencies=no

[Service]
Type=simple
User=root
ExecStart=/opt/gpio/fan/fan-control
ExecStop=/bin/kill -s SIGINT $MAINPID
Restart=on-failure

[Install]
WantedBy=sysinit.target
